@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #fff;
}

.FormGroup {
  margin: 0 15px 20px;
  padding: 0;
  border-style: none;
  background-color: rgb(39, 37, 37);
  will-change: opacity, transform;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #829fff;
  border-radius: 4px;
  width: 50vw;
}

.FormRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
  border-top: 1px solid #819efc;
}

.StripeElement--webkit-autofill {
  background: transparent !important;
}

.StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}

button.stripe-btn {
  display: block;
  font-size: 16px;
  width: 50vw;
  height: 40px;
  margin: 40px 15px 0;
  background-color: #3c9243;
  /* box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #ffb9f6;
  border-radius: 4px; */
  color: rgb(255, 255, 255);
  font-weight: 600;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  will-change: transform, background-color, box-shadow;
  border: none;
}

.stripe-btn:hover {
  background-color: #1f4d22;
}

button.stripe-btn:active {
  background-color: #d782d9;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #e298d8;
  transform: scale(0.99);
}

.name-com{
  font-family: 'Righteous', cursive;
}



.search::placeholder {
  color: #2c8181
}

.solid {
  margin: 0 -40px;
  border: 0;
  border-top: 1px solid #c9c7c7;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .solid {
  margin: 0 -123px;
  border: 0;
  border-top: 1px solid #c9c7c7;
}
}


@media only screen and (min-width: 1624px) {
  /* For tablets: */
  .solid {
  margin: 0 -266px;
  border: 0;
  border-top: 1px solid #d4e0e0;
}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
